<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERS</title>
</head>
<body>
    <%if(locals.user){%>
        <div class="outerDiv">    
            <% if(!locals.user.isAdmin){ %>
                <div class="adminPass">
                    <form action="/users/makeAdmin" method="post">
                        <input name="admin_password" type="password" placeholder="Password">
                        <button type="submit" class="submitHomeButton"> Enter as Admin</button>
                    </form>
                </div>
            <%}%>    
        

                <!-- the text part -->
        <div class="home-box">
            <i class="text-colr">This is Employee Review System, in which the Admin will assign the employees, to take part, and review the co-employees. This will help the company to find the good employees. Also it gives the admin power to make any employee as admin, and also new employees.</i>
            <hr>
        </div>

        <div class="home-box">
            <h5 class="text-colr">Give Review to other employee
                <br>
                <small class="small-text text-colr"><i>This task is assigned by Admin</i></small>
            </h5>

            <div class="reviewBox">
                <% for(let i = 0 ;i<recipent.length ; i++ ) {%>
                    <%if(recipent[i] != null) {%>
                        <div class="outerBox">
                            <h6>
                                To : <%= recipent[i].name%>
                            </h6>
                            <div class="innerBox">
                                <form action="/reviews/newReview/<%= recipent[i]._id %>" method="get">
                                    <textarea class="formClass" placeholder="Review, here !" name="newReview" rows="5"
                                    id="floatingTextarea2">
        
                                    </textarea>
                                    <br>
                                    <button type="submit" class="submitHomeButton"> Submit </button>
                                </form>
                            </div>
                        </div>
                    <%}%>
                <%}%>   
            </div>
        </div>

        <div class="home-box">
            <h5 class="text-colr">My Reviews by Other employee*</h5>
            <div class="reviewBox">

            
                <div class="card-out">
                    <% for(let review of reviews ) {%>
                        <div class="in-card">
                            <h5 class="cls-txt">Message : <%= review.content %> </h5>
                            <p class="cls-txt">From : <%= review.name %> </p>
                            
                        </div>
                    <%}%>    
                </div>
            

        </div>

    </div>
    <%}%>

</body>
</html>